.rightTop{
    display: flex;
    align-items: center;

    div{
        width: 50px;
        height: 35px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .search{
        background-image: url('./../../assets/images/MagnifyingGlass.png');
    }
}